* {
  box-sizing: border-box;
}

body{
  background-color: #CCDBDC;
  height: 100%;
  /* min-width: 100%; */
  max-width: 100%;
  font-family: 'Muli', monospace, sans-serif;
  margin: auto;
}

.nav-container {
  width: auto;
  background-color: #08415C;
  display: grid;
  grid-template-columns: .2fr 1fr 1fr ;
  padding: 2em;
}
.bussines-name {
  grid-column: 3 / 4;
  grid-row: 2 / 4 ;
  text-align: right;
  margin-right: 10%;
}

.menu-bar{
  font-size: 25px;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  grid-gap: 1em;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.menu-list{
  color: gold;
}

.menu-list:hover{
  color: gold;
}

.nav-button {
  border: none;
  background-color: #EBBAB9;
  border-radius: 1rem;
  font-family: 'Muli';
  font-size: 15pt;
  padding: 5px;
  cursor: pointer;
  border: 0;
  margin: 80px;
  position: relative;
  grid-column: 3 / 4;

}

.nav-button:hover {
  background-color: #FBE8E7
}

.title {
  font-size: 50px;
  padding: 1em;
  border: 5px dashed;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~ box CONTAINERS SECTION 3~~~~~~ */

.wrapper {
  /* max-width: 20em; */
  font-size: 50px;
  width: 90%;
  margin: 0 auto;
  border: 5px dashed;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-auto-rows: 500px;
  grid-gap: .5em;
}

.card-image {
  width: 100%;
}

.box {
  border: 5px dashed;
  background-color: #418ADE;
  box-shadow: 0px 0px 20px #888888;

}

.grid-button {
  border-radius:  2em;
  background-color: Transparent;
  border: none;
  cursor:pointer;
  display: inline-block;
  margin:0 0.3em 0.3em 0;


}

footer {
  margin: 100px;
  border: 5px dashed;
}
