body{
  background-color: #CCDBDC;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  height: 200px;
  width: 100%;
}

.nav-container {
  width: 100%;
  background-color: #08415C;
  display: flex;
  justify-content: space-between;

}

h1 {
 background-color: white;
 font-size: 45px;
}

ul {
  background-color: pink;
  color: white;
  width: 100%;
  display: inline-flex;
}

li {
  padding-left: 20px;
  display: auto;
  list-style-type: none;


}

button {
  border: none;
  background-color: #EBBAB9;
  border-radius: 1rem;
  font-family: 'Muli';
  font-size: 10pt;
  padding: 5px;
  cursor: pointer
  border: 0;
  margin: 40px;
}

button:hover {
  background-color: #FBE8E7
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~ box CONTAINERS SECTION 3~~~~~~ */

.wrapper {
  font-style: oblique;
  font-size: 50px;
  width: 80%;
  margin: 0 auto;
  border: 5px dashed;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 20px;
  grid-auto-rows: 500px;
}

.box1 {
  background-color: blue;
  box-shadow: 10px 5px 5px #888888;
}

.box2 {
  background-color: #418ADE;
  box-shadow: 10px 5px 5px #888888;
}

.box3 {
  background-color: #63A79C;
  box-shadow: 10px 5px 5px #888888;
}

.box4 {
  background-color: #CE7272;
  box-shadow: 10px 5px 5px #888888;
}

.box5 {
  background-color: #F2BF5E;
  box-shadow: 10px 5px 5px #888888;
}

.box6 {
  background-color: #DAE3E5;
  box-shadow: 10px 5px 5px #888888;
}

.box7 {
  background-color: #AF9164;
  box-shadow: 10px 5px 5px #888888;
}

.box8 {
  background-color: #E4572E;
  box-shadow: 10px 5px 5px #888888;
}

footer {
  margin: 100px;
  border: 5px dashed;
}
